# Server Configuration
WEB_HOST=localhost
WEB_PORT=3000

# Application Configuration
LOG_LEVEL=info # Set to 'debug' to see verbose logs like individual liquidation streams

# Security Key for Local SQLite Database Encryption (AES-256-GCM)
# Must be exactly 32 bytes (64 hex characters)
# To generate one quickly, run this in node: require('crypto').randomBytes(32).toString('hex')
ENCRYPTION_KEY=
